<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/styles/add-salary.css">
</head>

<body>
  <form action="/preview/update" method="post">
    <input type="hidden" value="<%=salary.work_id%>" name="work_id">
    <h2>Edit Overtime Hours</h2>

    <span>Employee</span>
    <input type="text" value="<%=salary.first_nm%> <%=salary.last_nm%>" name="emp_id">

    <span>Work hours</span>
    <input type="text" value="<%=salary.hrs%>" name="hrs">
    <span>Overtime hours</span>
    <input type="text" value="<%=salary.overtime_hrs%>" name="overtime_hrs">

    <button class="emp-add" type="submit">Update</button>
  </form>

</body>

</html>